# Cloudflare の API トークン
cloudflare_api_token = ""

# Cloudflare の Account ID
account_id = ""

# Cloudflare Pages の Project Name
project_name = ""

# Cloudflare Web Analytics の Analytics Tag
web_analytics_tag = ""

# Cloudflare Web Analytics の Analytics Token
web_analytics_token = ""
